<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="description" content="">
    <title>用户注册</title>
    <!-- Bootstrap core CSS -->
    <link href="/reg/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/reg/css//reg.css" rel="stylesheet">
    <script src="/reg/js/jquery-3.4.1.min.js"></script>
</head>
<body class="top-bg">
<header class="head-bg sticky-top ">
    <a href="<?php echo $game_down_url;?>" class="down_url"><img src="/reg/images/top-down.png" alt=""></a>
</header>

<div class="form-container text-sm-centers">
    <?php echo $dataJson ;?>
</div>

</body>
</html>
