<?php include _include(__APPDIR__ . 'Controller/Com/View/Public_head.html'); ?>
	<body>
<div class="templatemo-flex-row">
	<?php include _include(__APPDIR__ . 'Controller/Com/View/Public_nav.html'); ?>

	<div class="templatemo-content col-1 light-gray-bg">
		<?php include _include(__APPDIR__ . 'Controller/Com/View/Public_top.html'); ?>
		<div class="row content" style="padding:5px 0px 0px 0px;">
			<section class="content">
				<div class="box box-primary box-solid">
					<div class="box-header with-border">
						<h3 class="box-title text-muted"><span style=" color:White;">本工具谨慎操作！！！！<small
										style="margin-left:8px; margin-right:8px;"><a
											href="javascript:window.history.back()" target="_self"
											onclick='javascript:window.history.back();'><i class="fa fa-arrow-left"></i> 返回</a></small></span>
						</h3>
						<div class="box-tools pull-right">
							<button data-widget="collapse" class="btn btn-box-tool" type="button"><i
										class="fa fa-minus"></i></button>
						</div>
					</div>

					<div class="box-body">

						<div class="form-group">
							<label>会员ID</label>
							<input type="text" class="form-control" id="txt_UserName" maxlength="17" placeholder="选填项,需要按会员查询时填会员帐号">
						</div>
						<div class="form-group" <?php if ($user['RoleID']!=2&&$user['RoleID']!=1){ ?>style="display:none"<?php } ?>>
						<label class="text-blue">分页</label>
						<input type="text" class="form-control" id="pagesize" value="50">
					</div>

						<div class="form-group div_h_1">
							<label>开始日期</label>
							<input type="text" class="form-control" id="txt_StartDateTime" maxlength="10"
								   value="<?php echo date('Y-m-d') ?>"
								   onClick="WdatePicker();">
						</div>

						<div class="bootstrap-timepicker div_h_1" id="begin_tp">
							<div class="bootstrap-timepicker-widget dropdown-menu">
								<table>
									<tbody>
									<tr>
										<td><a data-action="incrementHour" href="#"><i
														class="glyphicon glyphicon-chevron-up"></i></a></td>
										<td class="separator">&nbsp;</td>
										<td><a data-action="incrementMinute" href="#"><i
														class="glyphicon glyphicon-chevron-up"></i></a></td>
										<td class="separator">&nbsp;</td>
										<td class="meridian-column"><a data-action="toggleMeridian" href="#"><i
														class="glyphicon glyphicon-chevron-up"></i></a></td>
									</tr>
									<tr>
										<td><span class="bootstrap-timepicker-hour">12</span></td>
										<td class="separator">:</td>
										<td><span class="bootstrap-timepicker-minute">00</span></td>
										<td class="separator">&nbsp;</td>
										<td><span class="bootstrap-timepicker-meridian">AM</span></td>
									</tr>
									<tr>
										<td><a data-action="decrementHour" href="#"><i
														class="glyphicon glyphicon-chevron-down"></i></a></td>
										<td class="separator"></td>
										<td><a data-action="decrementMinute" href="#"><i
														class="glyphicon glyphicon-chevron-down"></i></a></td>
										<td class="separator">&nbsp;</td>
										<td><a data-action="toggleMeridian" href="#"><i
														class="glyphicon glyphicon-chevron-down"></i></a></td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="form-group">
								<label class="text-aqua"> - 时间</label>
								<div class="input-group">
									<input type="text" class="form-control timepicker" id="txt_StartDateTime_HM">
									<div class="input-group-addon">
										<i class="fa fa-clock-o"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group div_h_1">
							<label>结束日期</label>
							<input type="text" class="form-control" id="txt_EndDateTime" maxlength="10"
								   onClick="WdatePicker();"
								   value="<?php echo date('Y-m-d') ?>">
						</div>

						<div class="bootstrap-timepicker div_h_1" id="end_tp">
							<div class="bootstrap-timepicker-widget dropdown-menu">
								<table>
									<tbody>
									<tr>
										<td><a data-action="incrementHour" href="#"><i
														class="glyphicon glyphicon-chevron-up"></i></a></td>
										<td class="separator">&nbsp;</td>
										<td><a data-action="incrementMinute" href="#"><i
														class="glyphicon glyphicon-chevron-up"></i></a></td>
										<td class="separator">&nbsp;</td>
										<td class="meridian-column"><a data-action="toggleMeridian" href="#"><i
														class="glyphicon glyphicon-chevron-up"></i></a></td>
									</tr>
									<tr>
										<td><span class="bootstrap-timepicker-hour">12</span></td>
										<td class="separator">:</td>
										<td><span class="bootstrap-timepicker-minute">59</span></td>
										<td class="separator">&nbsp;</td>
										<td><span class="bootstrap-timepicker-meridian">AM</span></td>
									</tr>
									<tr>
										<td><a data-action="decrementHour" href="#"><i
														class="glyphicon glyphicon-chevron-down"></i></a></td>
										<td class="separator"></td>
										<td><a data-action="decrementMinute" href="#"><i
														class="glyphicon glyphicon-chevron-down"></i></a></td>
										<td class="separator">&nbsp;</td>
										<td><a data-action="toggleMeridian" href="#"><i
														class="glyphicon glyphicon-chevron-down"></i></a></td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="form-group">
								<label class="text-aqua"> - 时间</label>
								<div class="input-group">
									<input type="text" class="form-control timepicker" ID="txt_EndDateTime_HM">
									<div class="input-group-addon">
										<i class="fa fa-clock-o"></i>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="box-footer">
						<button type="button" class="btn btn-primary" id="Button_OK">游戏记录</button>
						<button type="button" class="btn btn-primary" id="Button_OK2">流水比对</button>
						<button type="button" class="btn btn-primary" id="Button_OK3">异常排查</button>
					</div>
				</div>
				<!--数据列表-->
				<div class="box box-primary box-solid" id="tb_list_1" style="display:none">
					<div class="box-header with-border">
						<h3 class="box-title text-bold"><span style=" color:White;">详情列表</span></h3>
						<div class="box-tools pull-right">
							<button data-widget="collapse" class="btn btn-box-tool" type="button"><i
										class="fa fa-minus"></i></button>
						</div>
					</div>
					<div class="box-body" style="display: block;padding:0px;">
						<div class="table-responsive">
							<table class="tablesorter table table-hover table-bordered">
								<thead>
								<tr>
									<th nowrap='nowrap'>id</th>
									<th nowrap='nowrap'>chips</th>
									<th nowrap='nowrap'>diamond</th>
									<th nowrap='nowrap'>BeginBlance</th>
									<th nowrap='nowrap'>EndBlance</th>
									<th nowrap='nowrap'>N-E</th>
									<th nowrap='nowrap'>times</th>
									<th nowrap='nowrap'>style</th>
									<th nowrap='nowrap'>gameID</th>
									<th nowrap='nowrap'>gameNumb</th>
								</tr>
								</thead>
								<tbody id="tblData"></tbody>
							</table>

						</div>
						<div id="Pagination" class="pull-left" style="margin-top:10px"></div>
					</div>
				</div>

					<div class="box box-primary box-solid" id="tb_list_2" style="display:none">
						<div class="box-header with-border">
							<h3 class="box-title text-bold"><span style=" color:White;">上下分详情对比</span></h3>
							<div class="box-tools pull-right">
								<button data-widget="collapse" class="btn btn-box-tool" type="button"><i
											class="fa fa-minus"></i></button>
							</div>
						</div>
						<div class="box-body" style="display: block;padding:0px;">
							<div class="table-responsive">
								<table class="tablesorter table table-hover table-bordered">
									<thead>
									<tr>
										<th nowrap='nowrap'>id</th>
										<th nowrap='nowrap'>用户</th>
										<th nowrap='nowrap'>金额</th>
										<th nowrap='nowrap'>类型</th>
										<th nowrap='nowrap'>时间</th>
										<th nowrap='nowrap'>MoneyLog</th>
										<th nowrap='nowrap'>操作</th>
									</tr>
									</thead>
									<tbody id="tblData2"></tbody>
								</table>

							</div>
							<div id="Pagination2" class="pull-left" style="margin-top:10px"></div>
						</div>
					</div>
					<div class="box box-primary box-solid" id="tb_list_3" style="display:none">
						<div class="box-header with-border">
							<h3 class="box-title text-bold"><span style=" color:White;">分数不连贯</span></h3>
							<div class="box-tools pull-right">
								<button data-widget="collapse" class="btn btn-box-tool" type="button"><i
											class="fa fa-minus"></i></button>
							</div>
						</div>
						<div class="box-body" style="display: block;padding:0px;">
							<div class="table-responsive">
								<table class="tablesorter table table-hover table-bordered">
									<thead>
									<tr>
										<th nowrap='nowrap'>用户</th>
										<th nowrap='nowrap'>钱</th>
										<th nowrap='nowrap' >时间</th>
									</tr>
									</thead>
									<tbody id="tblData3"></tbody>
								</table>
							</div>
						</div>
					</div>
			</section>
			<script src="/res/js/WdatePicker.js" type="text/javascript"></script>
			<script src="/res/js/jquery-ui.min.js"></script>
			<script src="/res/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
			<script src="/res/js/laypage.js" type="text/javascript"></script>
			<script src="/res/js/jquery.jeditable.mini.js" type="text/javascript"></script>
			<script type="text/javascript">
				var jjtime;
                function getDataList(a) {
					$("#tb_list_1").show(),$("#tb_list_2").hide();
                    var b, c, d, e, f;
                    return _totalSuccessSum = 0,
                        _totalFailData = 0,
                        _totalFailSum = 0,
                        _totalCurrRow = 0,
                        b = a,
                        $.trim($("#txt_StartDateTime").val()).length <= 0 || $.trim($("#txt_EndDateTime").val()).length <= 0 ? (web_tips("日期时间不能为空."), !1) : (c = $("#txt_StartDateTime").val(), d = $("#txt_StartDateTime_HM").val(), e = $("#txt_EndDateTime").val(), f = $("#txt_EndDateTime_HM").val(), _sDate = c + " " + d, _eDate = e + " " + f, _user = $("#txt_UserName").val(), $.ajax({
                            url: "../ashx/platOrder/paymentOrder.ashx",
                            type: "post",
                            dataType: "json",
                            data: {
                                action: "gamelog",
                                sDate: _sDate,
                                eDate: _eDate,
                                user: _user,
                                pageIndex: b + 1,
								pageSize: parseInt($('#pagesize').val()),
                                CurDateTime: getCurrDate()
                            },
                            success: function (a) {
                                var c, d;
                                a.success ? (c = a.total, c > 0 ? ($("#tb_list_1 tr:gt(0)").remove(), d = "", $.each(a.results,
                                    function (b) {
                                        d += '<tr class="tr_h" '+(jjtime==a.results[b].times ?'style="color:red"':'')+' id="' + a.results[b].id + '">',
                                            d += '<td>',
                                            d += a.results[b].id,
                                            d += "</td>",
                                             d += '<td class="editInfo" field="chips">',
                                            d += a.results[b].chips,
                                            d += "</td>",
                                             d += '<td class="editInfo" field="diamond">',
                                            d += a.results[b].diamond,
                                            d += "</td>",
                                     		d += '<td class="editInfo" field="BeginBlance">',
                                            d += a.results[b].BeginBlance,
                                            d += "</td>";
                                        	if(Number(a.results[b].EndBlance)-Number(a.results[b].BeginBlance)!=Number(a.results[b].chips)-Number(a.results[b].diamond)){
                                                d += '<td class="editInfo" field="EndBlance" style="color:red" >';
											}else{
                                                d += '<td class="editInfo" field="EndBlance" >';
											}
                                            d += a.results[b].EndBlance,
                                            d += "</td>",
                                     		d += '<td>',
                                            d += Number(a.results[b].EndBlance)-Number(a.results[b].BeginBlance),
                                            d += "</td>",
                                          	d += '<td>',
                                            d += a.results[b].times,
                                            d += "</td>",
                                            d += '<td>',
                                            d += a.results[b].style,
                                            d += "</td>",
                                            d += '<td >',
                                            d += a.results[b].gameID,
                                            d += "</td>",
                                            d += '<td>',
                                            d += a.results[b].gameNumb,
                                            d += "</td>",
                                            d += "</tr>"
                                    }), $("#tblData").append(d), layer.close(pagei), laypage({
                                    cont: "Pagination",
                                    pages: numPages(c, parseInt($('#pagesize').val())),
                                    skip: !0,
                                    skin: "molv",
                                    first: 1,
                                    last: numPages(c, parseInt($('#pagesize').val())),
                                    prev: "<",
                                    next: ">",
                                    curr: b + 1,
                                    groups: 5,
                                    jump: function (a, b) {
                                        b || pageselectCallback(a.curr - 1)
                                    }
                                })) : (layer.close(pagei), web_tips("暂无记录."))) : (layer.close(pagei), global_Error500 == a.ERROR_TYPE && (parent.location.href = global_e_p_500), global_NoLicense != a.msg ? web_tips(a.msg) : parent.location.href = global_jump_login)
                            },
                            beforeSend: function () {
                                $("#Button_OK").attr("disabled", "disabled").text("正在查询"), pagei = layer.msg('请稍候..', {
                                    icon: 16,
                                    shadeClose: !1,
                                    shade: 0.01
                                })
                            },
                            complete: function () {
                                $("#Button_OK").removeAttr("disabled").text("游戏记录"),bindEdit()
                            }
                        }), void 0)
                }

		    function getDataList2(a) {
                	$("#tb_list_1").hide(),$("#tb_list_2").show(),$("#tb_list_3").hide();
                    var b, c, d, e, f;
                    return _totalSuccessSum = 0,
                        _totalFailData = 0,
                        _totalFailSum = 0,
                        _totalCurrRow = 0,
                        b = a,

                        $.trim($("#txt_StartDateTime").val()).length <= 0 || $.trim($("#txt_EndDateTime").val()).length <= 0 ? (web_tips("日期时间不能为空."), !1) : (c = $("#txt_StartDateTime").val(), d = $("#txt_StartDateTime_HM").val(), e = $("#txt_EndDateTime").val(), f = $("#txt_EndDateTime_HM").val(), _sDate = c + " " + d, _eDate = e + " " + f, _user = $("#txt_UserName").val(), $.ajax({
                            url: "../ashx/platOrder/paymentOrder.ashx",
                            type: "post",
                            dataType: "json",
                            data: {
                                action: "gamebilog",
                                sDate: _sDate,
                                eDate: _eDate,
                                user: _user,
                                pageIndex: b + 1,
								pageSize: parseInt($('#pagesize').val()),
                                CurDateTime: getCurrDate()
                            },
                            success: function (a) {
                                var c, d;
                                a.success ? (c = a.total, c > 0 ? ($("#tb_list_2 tr:gt(0)").remove(), d = "", $.each(a.results,
                                    function (b) {
                                        d += '<tr class="tr_h" id="' + a.results[b].LogID + '">',
                                            d += '<td>',
                                            d += a.results[b].LogID,
                                            d += "</td>",
                                             d += '<td>',
                                            d += a.results[b].UsrID,
                                            d += "</td>",
                                             d += '<td>',
                                            d += a.results[b].Money,
                                            d += "</td>",
                                     		d += '<td>',
                                            d += a.results[b].Type,
                                            d += "</td>",
                                     		d += '<td>',
                                            d += a.results[b].AddTime+" - "+a.results[b].DoAt,
                                            d += "</td>",
                                     		d += '<td>',
                                            d += a.results[b].info,
                                            d += "</td>",
                                            d += '<td>',
                                            d +=  a.results[b].ok==0?"<button info='金额:"+ parseFloat(a.results[b].Money/<?php echo $this->bl?>).toFixed(2) +",操作:"+a.results[b].Type+"' class='btn btn-success add'>补录</button>":'',
                                            d += "</td>",
                                            d += "</tr>"
                                    }), $("#tblData2").append(d), layer.close(pagei), laypage({
                                    cont: "Pagination2",
                                    pages: numPages(c, parseInt($('#pagesize').val())),
                                    skip: !0,
                                    skin: "molv",
                                    first: 1,
                                    last: numPages(c, parseInt($('#pagesize').val())),
                                    prev: "<",
                                    next: ">",
                                    curr: b + 1,
                                    groups: 5,
                                    jump: function (a, b) {
                                        b || pageselectCallback2(a.curr - 1)
                                    }
                                })) : (layer.close(pagei), web_tips("暂无记录."))) : (layer.close(pagei), global_Error500 == a.ERROR_TYPE && (parent.location.href = global_e_p_500), global_NoLicense != a.msg ? web_tips(a.msg) : parent.location.href = global_jump_login)
                            },
                            beforeSend: function () {
                                $("#Button_OK2").attr("disabled", "disabled").text("正在查询"), pagei = layer.msg('请稍候..', {
                                    icon: 16,
                                    shadeClose: !1,
                                    shade: 0.01
                                })
                            },
                            complete: function () {
                                $("#Button_OK2").removeAttr("disabled").text("流水比对"),bindBtn()
                            }
                        }), void 0)
                }

	    function getDataList3(a) {
                	$("#tb_list_2").hide(),$("#tb_list_3").show();
                    var b, c, d, e, f;
                    return  b = a,

                        $.trim($("#txt_StartDateTime").val()).length <= 0 || $.trim($("#txt_EndDateTime").val()).length <= 0 ? (web_tips("日期时间不能为空."), !1) : (c = $("#txt_StartDateTime").val(), d = $("#txt_StartDateTime_HM").val(), e = $("#txt_EndDateTime").val(), f = $("#txt_EndDateTime_HM").val(), _sDate = c + " " + d, _eDate = e + " " + f, _user = $("#txt_UserName").val(), $.ajax({
                            url: "../ashx/platOrder/paymentOrder.ashx",
                            type: "post",
                            dataType: "json",
                            data: {
                                action: "error_log",
                                sDate: _sDate,
                                eDate: _eDate,
                                CurDateTime: getCurrDate()
                            },
                            success: function (a) {
                                var c, d;
                                console.log(a.results)
                                a.success ? ( a.results.length>0 ? ($("#tb_list_3 tr:gt(0)").remove(), d = "", $.each(a.results,
                                    function (b) {
                                        d += '<tr class="tr_h checkbtn" times="'+a.results[b].times+'" usrid="'+a.results[b].usrid+'">',
                                             d += '<td>',
                                            d += a.results[b].usrid,
                                            d += "</td>",
                                     		d += '<td>',
                                            d += a.results[b].m,
                                            d += "</td>",
                                         	d += '<td>',
                                            d += a.results[b].times,
                                            d += "</td>",
                                            d += "</tr>"
                                    }), $("#tblData3").append(d), layer.close(pagei)) : (layer.close(pagei), web_tips("暂无记录."))) : (layer.close(pagei), global_Error500 == a.ERROR_TYPE && (parent.location.href = global_e_p_500), global_NoLicense != a.msg ? web_tips(a.msg) : parent.location.href = global_jump_login)
                            },
                            beforeSend: function () {
                                $("#Button_OK3").attr("disabled", "disabled").text("正在查询"), pagei = layer.msg('请稍候..', {
                                    icon: 16,
                                    shadeClose: !1,
                                    shade: 0.01
                                })
                            },
                            complete: function () {
                                $("#Button_OK3").removeAttr("disabled").text("异常排查"),bindC()
                            }
                        }), void 0)
                }

                function pageselectCallback(a) {
                    getDataList(a)
                }

                function pageselectCallback2(a) {
                    getDataList2(a)
                }


                function bindEdit() {
					whenMouseOver(".editInfo", "双击可编辑");
                    var a;
                    $(".editInfo").editable("../ashx/editField/editField.ashx", {
                        indicator: "<img src='../res/js/plug/jeditable/img/indicator.gif'>",
                        event: "dblclick",
                        style: "inherit",
                        type: "text",
                        submit: "保存",
                        width: 120,
                        cancel: "取消",
                        cssclass: "setInput",
                        onsubmit: function (a, b) {
                            var c = $(b).find("input").val();
                            return c = $.trim(c),
                                c.length <= 0 ? (swal("输入不能为空.", "", "info"), !1) : void 0
                        },
                        submitdata: function (b) {
                            return a = b,
                                {
                                    action: "editgamelog",
                                    BeforeValue: a,
                                    id: $(this).parent().attr("id"),
                                    field: $(this).attr("field")
                                }
                        },
                        callback: function (b) {
                            var d = jQuery.parseJSON(b);
                            console.log(d);
                            d.success ? ($(this).text(d.NewValue), swal(d.msg, "", "success")) : ($(this).text(a), swal(d.msg, "", "info"))
                        }
                    })
                }


                function bindC() {
                    $(".checkbtn").on('click',function (a) {
                        jjtime = $(this).attr('times');
                        var timestamp = (new Date(jjtime)).getTime();
						$('#txt_StartDateTime_HM').val(formatDate(new Date(timestamp-60000)));
						$('#txt_EndDateTime_HM').val(formatDate(new Date(timestamp+60000)));
						$('#txt_UserName').val($(this).attr('usrid'));
                        $("#Button_OK").click()
					})
                }

                function formatDate(now) {
					var hour=now.getHours();
                    var minute=now.getMinutes();
                    var second=now.getSeconds();
                    return (hour<10?'0'+hour:hour)+":"+(minute<10?'0'+minute:minute)+":"+(second<10?'0'+second:second);
                }

                function bindBtn() {
					$(".add").on('click',function (a) {
                        var jid =$(this).parent().parent().attr("id");
                        var jthis = $(this);
                        layer.confirm('修复记录【'+jid+'】<br>'+$(this).attr('info'), {
                            title:'修复确认',
                            btn: ['确认','取消'] //按钮
                        }, function(){
                            $.post('../ashx/editField/editField.ashx',{action: "repairlog",LogID:jid},function (e) {
								if(e.resp_code=='0000'){
									layer.msg('操作成功');
                                    jthis.remove();
								}else{
                                    layer.msg(e.msg);
								}
                            })
                        });
                    })
                }

                var pagei, _PlatformID = 1,
                    pageIndex = 0,
                    _user = "",
                    _sDate, _eDate, _totalSuccessSum = 0,
                    _totalFailData = 0,
                    _totalFailSum = 0,
                    _QueryID,
                    _totalCurrRow = 0;
                $(function () {

                    $("#txt_StartDateTime_HM").timepicker({
                        defaultTime: "00:00:00",
                        showInputs: !1,
                        showMeridian: !1,
                        showSeconds: !0,
                        minuteStep: 5,
                        secondStep: 15
                    }),
                        $("#txt_EndDateTime_HM").timepicker({
                            defaultTime: "23:59:59",
                            showInputs: !1,
                            showMeridian: !1,
                            showSeconds: !0,
                            minuteStep: 5,
                            secondStep: 15
                        }),
                        $("#Button_OK").click(function () {
                            $("#Pagination").html(""), getDataList(0)
                        }),
						$("#Button_OK2").click(function () {
                            $("#Pagination2").html(""), getDataList2(0)
                        }),
						$("#Button_OK3").click(function () {
                            $("#Pagination3").html(""), getDataList3(0)
                        })
                });
			</script>

		</div>
	</div>
</div>



<?php include _include(__APPDIR__ . 'Controller/Com/View/Public_footjs.html'); ?>