<?php include _include(__APPDIR__.'Controller/Com/View/Public_head.html');?>
<link rel="stylesheet" type="text/css" href="/res/simditor/styles/simditor.css">
<body>
<div class="templatemo-flex-row">
    <?php include _include(__APPDIR__.'Controller/Com/View/Public_nav.html');?>

    <div class="templatemo-content col-1 light-gray-bg">
        <?php include _include(__APPDIR__.'Controller/Com/View/Public_top.html');?>
        <div class="row content" style="padding:5px 0px 0px 0px;">

            <section class="content">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title text-muted">
                            <span style=" color:White;">发布后台公告
                                <small style="margin-left:8px; margin-right:8px;"><a href="javascript:window.history.back()" target="_self" onclick='javascript:window.history.back();'><i class="fa fa-arrow-left"></i> 返回</a></small></span>
                        </h3>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <div class="table-responsive">
                                <textarea id="editor"  autofocus></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" id="Button_OK">确定</button>
                    </div>

                </div>


                <div class="box box-primary box-solid" id="tb_list">
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold"><span class="text-sm" style=" color:White;">已发布的公告</span></h3>
                    </div>
                    <div class="box-body" style="display: block; padding:0px;">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="data_list">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>公告内容</th>
                                    <th>创建日期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="tblData"></tbody>
                            </table>

                        </div>
                    </div>
                    <div class="overlay" id="overlay_Log" style="display:none;"><i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>

            </section>

            <script src="/res/js/jquery.jeditable.mini.js" type="text/javascript"></script>
            <script src="/res/simditor/lib/mobilecheck.js" type="text/javascript"></script>
            <script src="/res/simditor/lib/module.js" type="text/javascript"></script>
            <script src="/res/simditor/lib/hotkeys.js" type="text/javascript"></script>
            <script src="/res/simditor/lib/simditor.js" type="text/javascript"></script>

            <script type="text/javascript">
                function DefaultGet() {
                    $("#data_list tr:gt(0)").remove(), $.ajax({
                        url: "../ashx/system/system.ashx",
                        type: "post",
                        dataType: "json",
                        data: {action: "GetSysNoticeInfo", CurDateTime: rand()},
                        success: function (a) {
                            if (a.success) if (a.results.length > 0) {
                                var b = "";
                                $.each(a.results, function (c) {
                                    var e = a.results[c].Index_NO;
                                    b += '<tr id="' + e + '">', b += "<td>", b += c + 1, b += "</td>", b += '<td nowrap="nowrap" class="text-left noticeInfo" field="MarqueeText">', b += a.results[c].MarqueeText, b += "</td>", b += '<td nowrap="nowrap">', b += a.results[c].C_DateTime, b += "</td>", b += "<td>", b += '<button type="button" class="btn btn-warning btn-xs" onfocus="this.blur();" onclick=\'onDeleteNotice(this,"' + e + "\",DefaultGet);'>删除</button>", b += "</td>", b += "</tr>"
                                }), $("#tblData").append(b), $("#tb_list").show(), $("#overlay_Log").fadeOut(1000)
                            } else $("#tb_list").show(), $("#overlay_Log").fadeOut(1000), $("#tblData").append('<tr class="tr_h"><td>-</td><td>-</td><td>-</td><td>暂无数据</td></tr>'); else $("#tb_list,#overlay_Log").fadeOut(1000), a.ERROR_TYPE == global_Error500 && (parent.location.href = "../PageError/500.html"), global_NoLicense != a.msg ? web_tips(a.msg) : parent.location.href = "../Login.aspx"
                        },
                        beforeSend: function () {
                            $("#overlay_Log").show()
                        },
                        complete: function () {
                            bindHandler()
                        }
                    })
                }

                function bindHandler() {
                    whenMouseOver(".noticeInfo", "双击可编辑");
                    var a;
                    $(".noticeInfo").editable("../ashx/system/system.ashx", {
                        indicator: "<img src='/res/img/indicator.gif'>",
                        event: "dblclick",
                        style: "inherit",
                        type: "text",
                        submit: "保存",
                        width: 400,
                        cancel: "取消",
                        cssclass: "setInput",
                        onsubmit: function (a, b) {
                            var c = $(b).find("input").val();
                            return c = $.trim(c), c.length <= 0 ? (swal("输入不能为空.", "", "info"), !1) : void 0
                        },
                        submitdata: function (b) {
                            return a = b, {
                                action: "ModifyPlatNoticeByField",
                                BeforeValue: a,
                                id: $(this).parent().attr("id"),
                                field: $(this).attr("field")
                            }
                        },
                        callback: function (b) {
                            var d = jQuery.parseJSON(b);
                            d.success ? ($(this).text(d.NewValue), swal(d.msg, "", "success")) : ($(this).text(a), swal(d.msg, "", "info"))
                        }
                    })
                }


                var _PageContent = "";
                var editor;
                $(function () {

                    var $preview, editor, mobileToolbar, toolbar;
                    Simditor.locale = 'en-US';
                    toolbar = ['title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link',  'hr', '|', 'indent', 'outdent', 'alignment'];
                    mobileToolbar = ["bold", "underline", "strikethrough", "color", "ul", "ol"];
                    if (mobilecheck()) {
                        toolbar = mobileToolbar;
                    }
                    editor = new Simditor({
                        textarea: $('#editor'),
                        placeholder: '这里输入文字...',
                        toolbar: toolbar,
                        pasteImage: false
                    });
                    // $preview = $('#preview');
                    // if ($preview.length > 0) {
                    //     return editor.on('valuechanged', function(e) {
                    //         return $preview.html(editor.getValue());
                    //     });
                    // }

                    function getContent() {
                        return editor.getValue();
                    }


                     DefaultGet(), $("#Button_OK").click(function () {
                        return _PageContent = getContent(), $.trim(_PageContent).length <= 0 ? (swal("公告内容不能为空.", "", "info"), !1) : ($.ajax({
                            url: "../ashx/system/system.ashx",
                            type: "post",
                            dataType: "json",
                            data: {action: "PublishNotice", Memo: _PageContent, CurDateTime: rand()},
                            success: function (a) {
                                a.success ? (swal(a.msg, "", "success"), editor.setValue(""), DefaultGet()) : (a.ERROR_TYPE == global_Error500 && (parent.location.href = "../PageError/500.html"), global_NoLicense != a.msg ? swal(a.msg, "", "info") : parent.location.href = "../Login.aspx")
                            },
                            beforeSend: function () {
                                $("#Button_OK").attr("disabled", "disabled").text("正在提交")
                            },
                            complete: function () {
                                $("#Button_OK").removeAttr("disabled").text("确定")
                            }
                        }), void 0)
                    })
                });
            </script>

        </div>
    </div>
</div>

<?php include _include(__APPDIR__.'Controller/Com/View/Public_footjs.html');?>