<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.01, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/css/font-awesome.min.css">
    <link rel="stylesheet" href="/res/css/AdminLTE.css">
    <link rel="stylesheet" href="/res/css/page.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                    <tbody>
                    <tr>
                        <td class="text-right">玩家总数：</td>
                        <td><span class="badge bg-green"><?php echo  $usernum;?></span></td>
                    </tr>
                    <tr>
                        <td class="text-right">在线总数：</td>
                        <td><span class="badge bg-green"><?php echo  $olnum;?></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>
