<?php if($user['RoleID']==1000001){?>
<script>
    var webim = {
        'server' : 'ws:<?php echo $this->request->_S('HOST') ?>'
    };
    var tablse=true;
    var error_url = '../../admin/index/login';
    var user={};
    var top_px=0;
</script>
<style>
    .layim-chat-mine .layim-chat-text.back{background-color:#d2d2d2;}
    .layim-chat-mine .back:after {border-top-color: #d2d2d2 !important;}
</style>
<?php }?>
<script src="/layui/layui.all.js?ver=<?php echo _CONF('app_v')?>"></script>
<script src="/layui/lay/modules/layim.js?ver=<?php echo _CONF('app_v')?>"></script>
<?php if($user['RoleID']==1000001){?>
<script src="/js/websocket/websocket.js?ver=<?php echo _CONF('app_v')?>"></script>
<?php }?>
</body>
</html>
<?php if($this->isadmin){?>
<!--div>
<?php echo xn_json_encode( $this->request->server)?>
</div-->
<?php }?>
<script type="text/javascript">

    var $=layui.jquery,element = layui.element,code = layui.code,layim = layui.layim,device=layui.device,layer=layui.layer,form=layui.form,table=layui.table,laydate=layui.laydate,laytpl = layui.laytpl,upload = layui.upload,notice,authtree,treeSelect,tableSelect,iconPicker,userinfo=[];
    <?php if($user['RoleID']==1000001){ $_custom = $this->Custom->read(['Passwd'=>$user['username']]); ?>
        var jindex=0;
        layui.use('layim', function(layim){
            //基础配置
        <?php $en_id = xn_encrypt($user['id'],_CONF('salt'));?>
            var join= {};
            var toid='';
            setTimeout(function () {
                var protocolStr = document.location.protocol;
                if(protocolStr == "http:"){
                    var server='ws:<?php echo $this->request->_S('HOST') ?>';
                }else if(protocolStr == "https:"){
                    var server='wss:<?php echo $this->request->_S('HOST') ?>';
                }

                if (window.WebSocket || window.MozWebSocket) {
                    ws = new ReconnectingWebSocket(server,null,{maxReconnectAttempts:10,timeoutInterval:3000});
                } else if (webim.flash_websocket) {
                    WEB_SOCKET_SWF_LOCATION = "/static/websocket/WebSocketMain.swf";
                    $.getScript("/static/websocket/swfobject.js", function () {
                        ws = new WebSocket(server);
                    });
                }

                function sendMsg(action,post) {
                    var msg = {};
                    msg.action = action;
                    msg.post = post||{};
                    ws.send(JSON.stringify(msg));
                }

                ws.onopen = function (e) {
                    //连接成功
                    sendMsg('login',{kfid:"<?=$user['id']?>",way:2});
                };

                //有消息到来时触发
                ws.onmessage = function (e) {
                    var message = JSON.parse(e.data);
                    var code = message.action;
                    if (code == 'GetUser') {
                        layim.getMessage({
                            name: message.username+'('+message.usrid+')'
                            , username: message.username+'('+message.usrid+')'
                            ,type: 'friend'
                            ,avatar: '../../logo.png'
                            ,cid: message.cid
                            ,id: message.usrid
                            ,isback:0
                        });
                        var thatChat = layim.thisChat();
                        layim.focusInsert(thatChat.textarea[0],"<?=$_custom['Signature']?>");
                        layim.sendMessage();
                    }else if (code == 'GetMsg') {
                        layim.getMessage({
                            username: message.username+'('+message.usrid+')'
                            ,avatar: "../../logo.png"
                            ,id: message.usrid
                            ,type: "friend"
                            ,cid: message.cid
                            ,isback:0
                            ,content: message.msg
                        });
                    }else{
                        //layer.msg(message.msg)
                    }
                };


                layim.config({
                    title:"上分客服",
                    notice:true,
                    isgroup:false,
                    isfriend:true,
                    maxLength:400,
                    copyright:true,
                    init: {
                        url: '../../customer/msglog/friend' //接口地址（返回的数据格式见下文）
                        ,type: 'post'

                    }
                    // ,members: {
                    //     url: '../../customer/msglog/friend'
                    // }
                    //上传图片接口（返回的数据格式见下文），若不开启图片上传，剔除该项即可
                    ,uploadImage: {
                        url: '../../customer/upload/image.aspx?agent_id=<?=$user['id']?>', //接口地址
                    }

                    //上传文件接口（返回的数据格式见下文），若不开启文件上传，剔除该项即可
                    // ,uploadFile: {
                    //     url: '' //接口地址
                    // }

                    //扩展工具栏，下文会做进一步介绍（如果无需扩展，剔除该项即可）
                    ,tool: [{
                        alias: 'money' //工具别名
                        ,title: '会员进分' //工具名称
                        ,icon: '&#xe705;' //工具图标，参考图标文档
                    },{
                        alias: 'card' //工具别名
                        ,title: '快捷回复' //工具名称
                        ,icon: '&#xe63a;' //工具图标，参考图标文档
                    }]

                    //,msgbox: "../../customer/card"
                    //layui.cache.dir + 'css/modules/layim/html/msgbox.html' //消息盒子页面地址，若不开启，剔除该项即可
                    //,find:  '../../customer/card' //发现页面地址，若不开启，剔除该项即可

                    ,callbackchat: '../../customer/msglog/back.aspx'//聊天记录页面地址，若不开启，剔除该项即可
                    ,chatLog: '../../customer/msglog.aspx'//聊天记录页面地址，若不开启，剔除该项即可
                });


                layim.on('sign', function(value){
                    console.log(value); //获得新的签名
                    $.post('../../customer/index/setsignature',{},function (e) {

                    })
                });


                layim.on('sendMessage', function(res) {
                    var mine = res.mine; //包含我发送的消息及我的信息
                    var to = res.to;
                    console.log(res);
                    sendMsg('kefumsg',{from:mine.id,to:to.id,username:mine.username,msg:mine.content,cid:mine.cid});
                })

                layim.on('chatChange', function(obj){
                    console.log(obj);
                    toid=obj.data.id;
                });

                layim.on('tool(card)', function(insert, send, obj) { //事件中的tool为固定字符，而code则为过滤器，对应的是工具别名（alias）
                    var data = obj.data;
                    jindex= layer.open({
                        type: 2,
                        title: '快捷回复管理',
                        area: ['860px', '550px'],
                        shade: 0.8,
                        shadeClose: true,
                        content: '../../customer/card'
                    });
                });

                // layim.on('tool(help)', function(insert, send, obj) { //事件中的tool为固定字符，而code则为过滤器，对应的是工具别名（alias）
                //     var data = obj.data;
                //     jindex= layer.open({
                //         type: 2,
                //         title: '会员进分',
                //         area: ['860px', '550px'],
                //         shade: 0.8,
                //         shadeClose: true,
                //         content: '../../customer/setscore?usrid='+data.id
                //     });
                // });


                layim.on('tool(money)', function(insert, send, obj){ //事件中的tool为固定字符，而code则为过滤器，对应的是工具别名（alias）
                    var data = obj.data;
                    layer.open({
                        type: 1,
                        title:data.username+' 会员进分记录',
                        area: ['860px', '650px'], //宽高
                        content: '<div><form class="layui-form" lay-filter="add_curNum">\n' +
                            '  <div class="layui-form-item">\n' +
                            '    <label class="layui-form-label" style="width:auto">当前分数</label>\n' +
                            '    <div class="layui-input-inline">\n' +
                            '      <input type="text" name="add_curNum" id="add_curNum" readonly  autocomplete="off" class="layui-input">\n' +
                            '    </div>\n' +
                            '  </div>\n' +
                            '  <div class="layui-form-item">\n' +
                            '    <label class="layui-form-label" style="width:auto">设定分值</label>\n' +
                            '    <div class="layui-input-inline">\n' +
                            '      <input type="text" id="txt_scoreNum" name="money" required lay-verify="required" placeholder="请输入分值" autocomplete="off" class="layui-input">\n' +
                            '    </div>\n' +
                            '    <div class="layui-form-mid layui-word-aux">设定分数:如 100、-100 或 10.50</div>\n' +
                            '  </div>\n' +
                            '  <div class="layui-form-item">\n' +
                            '    <div class="layui-input-block">\n' +
                            '      <button class="layui-btn layui-btn-sm" lay-submit lay-filter="formaddmoney">立即提交</button>\n' +
                            '    </div>\n' +
                            '  </div>\n' +
                            '</form><table class="layui-hide" id="<?php echo $__PRE__ ?>table" lay-filter="<?php echo $__PRE__ ?>table"></table></div>',
                        success: function (d) {
                            function _DataReload(){
                                $.ajax({
                                    url: "../ashx/account/account.ashx",
                                    type: "post",
                                    dataType: "json",
                                    data: {action: "getAccountInfo", userName: data.id},
                                    success: function (a) {
                                        if (a.success) {
                                            form.val("add_curNum", {add_curNum:parseFloat(a.UserLimitNum).toFixed(2)});
                                        } else a.ERROR_TYPE == global_Error500 && (parent.location.href = global_e_p_500), global_NoLicense == a.msg ? parent.location.href = global_jump_login : web_tips(a.msg)
                                    }
                                });
                            }
                            _DataReload()
                            form.on('submit(formaddmoney)', function(d){
                                //layer.msg(JSON.stringify(d.field));
                                var jload =   layer.load(0,{msg:'请稍候...'})
                                $.ajax({
                                    url: "../ashx/account/setScore.ashx",
                                    type: "post",
                                    dataType: "json",
                                    data: {
                                        action: "setServerScore",
                                        scoreNum: d.field.money,
                                        userName: data.id,
                                        CurDateTime: rand()
                                    },
                                    success: function (a) {
                                        layer.close(jload)
                                        if (a.success) layer.msg(a.msg,{icon:1}), _DataReload(),<?php echo $__PRE__?>table_add.reload(), form.val("add_curNum", {money:''}); else if (global_NoLicense != a.msg) switch (a.type) {
                                            case 1:
                                                layer.msg(a.msg,{icon:2})
                                                break;
                                            case 2:
                                                layer.msg(a.msg,{icon:2})
                                                break;
                                            default:
                                                layer.msg(a.msg?a.msg:"操作失败,请重试.",{icon:2})
                                        } else parent.location.href = global_jump_login
                                    }
                                });
                                return false;
                            });


                            //

                            var <?php echo $__PRE__?>table_add = table.render({
                                elem: '#<?php echo $__PRE__?>table'
                                , url: '../../ashx/log/log.ashx'
                                , where:{action:"Last20ScoreLog",userc:data.id}
                                , page: false
                                , height: '440px'
                                , cols: [[
                                    {field: 'Rownum', title: '#', width: 60,align:"center"}
                                    , {field: 'UserName', title: '会员ID', width: 180,align:"center"}
                                    , {field: 'BeforeNum', title: '之前分数', width: 140,align:"center",templet:function (d) {
                                            return (d.AfterNum-d.ScoreNum).toFixed(2);
                                        }}
                                    , {field: 'ScoreNum', title: '设定分数', width: 160,align:"center",templet:function (d) {
                                            var b='';
                                            switch (Number(d.Action_Type)) {
                                                case 25:
                                                    b += '注册送：';
                                                    break;
                                                case 29:
                                                    b += '申请送：';
                                                    break;
                                                case 1:
                                                case 2:
                                                case 3:
                                                case 4:
                                                case 5:
                                                case 6:
                                                case 8:
                                                case 9:
                                                case 17:
                                                case 35:
                                                    b += _arr[d.Action_Type]+'：';
                                                    break;
                                                case 36:
                                                    b += '活动送：';
                                                    break;
                                                case 37:
                                                    b += '提现：';
                                                    break;
                                                case 38:
                                                    b += '取消提现：';
                                                    break;
                                                case 50:
                                                    b += '短信送：';
                                                    break;
                                                case 51:
                                                    b += '手工加：';
                                                    break;
                                                case 52:
                                                    b += '减分：';
                                                    break;
                                                case 61:
                                                    b += '商城加：';
                                                    break;
                                                case 71:
                                                    b += '代理结算：';
                                                    break;
                                                case 114:
                                                    b += '活动清零调整：';
                                                    break;

                                                default:
                                                    b+=d.ScoreNum>0 ?'加分：':'减分：';
                                            }
                                            return b +d.ScoreNum;
                                        }}
                                    , {field: 'AfterNum', title: '之后分数', width: 140,align:"center"}
                                    , {field: 'C_DateTime', title: '操作时间', width: 160,align:"center"}
                                ]]
                                , response: {
                                    statusCode: "0000"
                                }
                                , parseData: function (res) {
                                    return {
                                        "code": res.resp_code,
                                        "msg": res.msg,
                                        "data": res.results
                                    };
                                }



                            });


                        }
                    });
                });


            },200)
        });
    <?php }?>
    var _user = $("#txt_UserName").val();

    function CheckState() {
        var a = $(".m_uid").attr("id");
        $.ajax({
            url: "../ashx/login/Login.ashx",
            type: "post",
            dataType: "json",
            data: {action: "checkState", userName: a, CurDateTime: getCurrDate()},
            success: function (a) {
                !a.success && (alert(a.msg), parent.location.href = global_jump_login)
            },
            error: function () {
                window.clearInterval(flag2)
            }
        })
    }

    function BindWeChatID() {
        var d = "onClick_BindEditWeChatInfo.aspx";
        var setting = {
            title:  " 绑定编辑完善 让玩家可以联系我",
            url:d,
            wh:['50%','50%'],
            pc:['430px','240px'],
            fn:null
        };
        window.openedLay =  layOpen(setting);
    }

    function GetCurrScore() {
        jQuery.ajax({
            url: "../ashx/getData/GetCurrScore.ashx",
            type: "post",
            dataType: "json",
            data: {action: "GetCurrScore", CurDateTime: rand()},
            success: function (a) {
                a.success ? a.showType ? ($("#n3").text("当前分数: " + a.results[0].LimitNum), $("#n3").show()) : ($("#n3").hide(), window.clearInterval(flag3)) : ($("#n3").hide(), window.clearInterval(flag3), a.ERROR_TYPE == global_Error500 && (parent.location.href = global_e_p_500))
            },
            error: function () {
                window.clearInterval(flag3)
            }
        })
    }

    function GetApplyLogInfo() {
        jQuery.ajax({
            url: "../ashx/log/log.ashx",
            type: "post",
            dataType: "json",
            data: {action: "GetApplyNoticeLog", CurDateTime: rand()},
            success: function (a) {
                a.success ? ($(".showApplylog").text(a.TotalNum)) : ($(".showApplylog").text("0"), a.ERROR_TYPE == global_Error500 && (parent.location.href = global_e_p_500));
                if(a.TotalNum>0){
                    var myAuto = document.getElementById('sound');
                    if(myAuto){
                        myAuto.play();
                    }else{
                        init_play_mp3();
                        console.log("没有权限")
                    }
                }
            },
            error: function () {
                window.clearInterval(flag5)
            }
        })
    }

    function GetTipCashInfo() {
        jQuery.ajax({
            url: "../ashx/log/log.ashx",
            type: "post",
            dataType: "json",
            data: {action: "GetCashNoticeLog", CurDateTime: rand()},
            success: function (a) {
                a.success ? ($(".tip_cashInfo").text(a.TotalNum)) : ($(".tip_cashInfo").text("0"), a.ERROR_TYPE == global_Error500 && (parent.location.href = global_e_p_500));
                if(a.TotalNum>0){
                    var myAuto = document.getElementById('sound');
                    if(myAuto){
                        myAuto.play();
                    }else{
                        init_play_mp3();
                        console.log("没有权限")
                    }


                }
            },
            error: function () {
                window.clearInterval(flag6)
            }
        })
    }
    function GetTipRegInfo() {
        jQuery.ajax({
            url: "../ashx/log/log.ashx",
            type: "post",
            dataType: "json",
            data: {action: "GetRegLog", CurDateTime: rand()},
            success: function (a) {
                a.success ? ($(".showReglog").text(a.TotalNum)) : ($(".showReglog").text("0"), a.ERROR_TYPE == global_Error500 && (parent.location.href = global_e_p_500));
                if(a.TotalNum>0){
                    var myAuto = document.getElementById('sound');
                    if(myAuto){
                        myAuto.play();
                    }else{
                        init_play_mp3();
                        console.log("没有权限")
                    }
                }
            },
            error: function () {
                window.clearInterval(flag8)
            }
        })
    }
    function GetTipSettlementInfo() {
        jQuery.ajax({
            url: "../ashx/log/log.ashx",
            type: "post",
            dataType: "json",
            data: {action: "GetSettlementLog", CurDateTime: rand()},
            success: function (a) {
                a.success ? ($(".showSettlementlog").text(a.TotalNum)) : ($(".showSettlementlog").text("0"), a.ERROR_TYPE == global_Error500 && (parent.location.href = global_e_p_500));
                if(a.TotalNum>0){
                    var myAuto = document.getElementById('sound');
                    if(myAuto){
                        myAuto.play();
                    }else{
                        init_play_mp3();
                        console.log("没有权限")
                    }
                }
            },
            error: function () {
                window.clearInterval(flag9)
            }
        })
    }

    // function GetTip_TransferInfo() {
    //     jQuery.ajax({
    //         url: "../ashx/platOrder/transferOrder.ashx",
    //         type: "post",
    //         dataType: "json",
    //         data: {action: "GetTransferNoticeLog", CurDateTime: rand()},
    //         success: function (a) {
    //             a.success ? ($(".tip_TransferInfo").text(a.TotalNum)) : ($(".tip_TransferInfo").text("0"), a.ERROR_TYPE == global_Error500 && (parent.location.href = global_e_p_500));
    //             if(a.TotalNum>0){
    //                 //$("#voice-lottery")[0].play();
    //             }
    //
    //         },
    //         error: function () {
    //             window.clearInterval(flag7)
    //         }
    //     })
    // }


    var _audio, flag1, flag2, flag3, flag4, flag5, flag6, flag7, flag8, flag9, _pageType = "false", _changePWD = "0",
        _num_notice = 999, _u_do_type = "0", _n_flag = 1, _u_do_wid = "0";
    $(function () {
        var playSound =  <?php if(in_array($user['RoleID'],[9,10,11])) { echo 0; }else{ echo 1;} ?>;

        if(playSound==1)
        {  $('<audio id="voice-lottery"><source src="/res/sound/notify1.wav" type="audio/wav"><source src="/res/sound/notify1.mp3" type="audio/mpeg"><source src="/res/sound/notify.ogg" type="audio/ogg"> </audio>').appendTo("body");};
        CheckURL_Injection(), $(".li_score,#n3").hide(), "1" == _changePWD && swal({
            title: "为了账户安全，请务必修改密码",
            text: "如果已修改请点击刷新按钮.",
            type: "warning",
            showCancelButton: !0,
            confirmButtonText: "确定",
            cancelButtonText: "刷新",
            closeOnConfirm: !1,
            closeOnCancel: !1
        }, function (a) {
            a ? parent.location.href = "com_UpdatePassword.aspx" : location.reload()
        });
    <?php $nav_arr = arrlist_values($this->nav,'Node') ?>

    <?php if(in_array('com_RegScore',$nav_arr)){ ?>
            GetTipRegInfo(), clearInterval(flag8), flag8 = setInterval("GetTipRegInfo()", 60000 );
        <?php } ?>
    <?php if(in_array('settlement',$nav_arr)){ ?>
            GetTipSettlementInfo(), clearInterval(flag9), flag9 = setInterval("GetTipSettlementInfo()", 60000 );
        <?php } ?>
    <?php if(in_array('com_AccountCashOrderList',$nav_arr)){ ?>
            GetTipCashInfo(), clearInterval(flag6), flag6 = setInterval("GetTipCashInfo()", 60000 );
        <?php } ?>
    <?php if(in_array('com_ApplySong',$nav_arr)){ ?>
            GetApplyLogInfo(), clearInterval(flag6), flag6 = setInterval("GetApplyLogInfo()", 60000 );
        <?php } ?>

        clearInterval(flag2), flag2 = setInterval("CheckState()", 60000);

        parseInt(_num_notice) > 0 ? 999 != _num_notice ? (1 == parseInt(_n_flag) ? $(".li_notice").show() : $(".li_notice").hide(),
            $(".num_notice").text(_num_notice)) : (1 == parseInt(_n_flag) ? $(".li_notice").show() : $(".li_notice").hide(),
            $(".num_notice").hide) : $(".li_notice").hide(),
        "false" == _pageType || $(".li_score,.li_weChat").hide();

    });

</script>
