<?php include _include(__APPDIR__.'Controller/Com/View/Public_head.html');?>
<body>
<div class="templatemo-flex-row">
    <?php include _include(__APPDIR__.'Controller/Com/View/Public_nav.html');?>

    <div class="templatemo-content col-1 light-gray-bg">
        <?php include _include(__APPDIR__.'Controller/Com/View/Public_top.html');?>
        <div class="row content" style="padding:5px 0px 0px 0px;">


            <section class="content">
                <div style="text-align:center;font-size:40px;color:#2F4056;margin-top:10%" >
                    <i style="font-size:80px;margin-bottom:30px" class="fa fa-lock fa-fw"></i>
                    <br>
<?php echo  $error?>
                </div>
            </section>
        </div>
    </div>
</div>

<?php include _include(__APPDIR__.'Controller/Com/View/Public_footjs.html');?>