<?php include _include(__APPDIR__.'Controller/Com/View/Public_head.html');?>
<body>
<div class="templatemo-flex-row">
    <?php include _include(__APPDIR__.'Controller/Com/View/Public_nav.html');?>

    <div class="templatemo-content col-1 light-gray-bg">
        <?php include _include(__APPDIR__.'Controller/Com/View/Public_top.html');?>
        <div class="row content" style="padding:5px 0px 0px 0px;">

            <section class="content-header sectionHeader">
                <h1 class="hidden-xs">
                    总账查询<small style="margin-left:8px; margin-right:8px;"><a href="playerList.aspx?sid=<?=$agent['username']?>" target="_self" onclick='playerList.aspx?sid=<?=$agent['username']?>;'><i class="fa fa-arrow-left"></i> 返回</a></small>
                </h1>
                <ol class="breadcrumb hidden-md hidden-lg hidden-sm">
                    <li>总账查询&nbsp;&nbsp;&nbsp;<a href="playerList.aspx?sid=<?=$agent['username']?>" target="_self" onclick='playerList.aspx?sid=<?=$agent['username']?>;'><i class="fa fa-arrow-left"></i> 返回</a></li>
                </ol>
            </section>
            <section class="content">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold text-muted" id="d_tip_2"><span style="color:White;"><?php echo  $agent['username']?></span></h3><i class="fa fa-angle-double-right"></i>

                    </div>

                    <div class="box-body">
                        <div class="form-group"  style="display:none;">
                            <label>查账类型</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="radio1" value="1" checked> 单人游戏
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="radio2" value="2"> 真人游戏
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>开始日期</label>
                            <input type="text" class="form-control" id="txt_StartDateTime" maxlength="10" onClick="WdatePicker();">
                        </div>
                        <div class="form-group">
                            <label>结束日期</label>
                            <input type="text" class="form-control" id="txt_EndDateTime" maxlength="10" onClick="WdatePicker();">
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" id="Button_OK">确定</button>
                    </div>

                    <div class="box-body" id="q1" style="display:none;">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                <tr>
                                    <td nowrap='nowrap' class="text-left cal_1">游戏压住：<span class="badge bg-aqua td_totalGameBet"></span></td>
                                    <td nowrap='nowrap' class="text-left cal_1">对战压住：<span class="badge bg-aqua td_totalPokerGameBet"></span></td>
                                </tr>
                                <tr>
                                    <td nowrap='nowrap' class="text-left">游戏数据：<span class="badge bg-red td_totalGameWin"></span></td>
                                    <td nowrap='nowrap' class="text-left">对战抽水：<span class="badge bg-red td_totalPokerGamePump"></span></td>
                                </tr>
                                <tr>
                                    <td nowrap='nowrap' class="text-left cal_1">游戏收易率：<span class="badge bg-blue td_totalGameYield"></span></td>
                                    <td nowrap='nowrap' class="text-left cal_1">对战收易率：<span class="badge bg-blue td_totalPokerGameYield"></span></td>
                                </tr>
                                <tr>
                                    <td nowrap='nowrap' class="text-left cal_1"><span class="badge bg-gray">-</span></td>
                                    <td nowrap='nowrap' class="text-left cal_1">对战数据：<span class="badge bg-gray td_totalPokerGameWin"></span></td>
                                </tr>
                                <tr>
                                    <td nowrap='nowrap' class="text-left">注册送：<span class="badge bg-yellow" id="td_reg"></span></td>
                                    <td nowrap='nowrap' class="text-left">申请送：<span class="badge bg-yellow" id="td_apply"></span></td>
                                </tr>
                                <tr>
                                    <td nowrap='nowrap' class="text-left">系统送：<span class="badge bg-aqua" id="td_plat"></span></td>
                                    <td nowrap='nowrap' class="text-left">活动送：<span class="badge bg-aqua" id="td_active"></span></td>
                                </tr>
                                <tr style=" display:none;">
                                    <td nowrap='nowrap' class="text-left">所有的萤分：<span class="badge bg-green td_totalAllWin"></span></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-body" id="q2" style="display:none;">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                <tr>
                                    <td nowrap='nowrap' class="text-left cal_1">游戏压住：<span class="badge bg-aqua td_totalGameBet"></span></td>
                                    <td nowrap='nowrap' class="text-left cal_1">对战压住：<span class="badge bg-aqua td_totalPokerGameBet"></span></td>
                                </tr>
                                <tr>
                                    <td nowrap='nowrap' class="text-left">游戏数据：<span class="badge bg-red td_totalGameWin"></span></td>
                                    <td nowrap='nowrap' class="text-left">对战抽水：<span class="badge bg-red td_totalPokerGamePump"></span></td>
                                </tr>
                                <tr>
                                    <td nowrap='nowrap' class="text-left cal_1">游戏收易率：<span class="badge bg-blue td_totalGameYield"></span></td>
                                    <td nowrap='nowrap' class="text-left cal_1">对战收易率：<span class="badge bg-blue td_totalPokerGameYield"></span></td>
                                </tr>

                                <tr>
                                    <td nowrap='nowrap' class="text-left">注册送：<span class="badge bg-yellow" id="td_reg2"></span></td>
                                    <td nowrap='nowrap' class="text-left">申请送：<span class="badge bg-yellow" id="td_apply2"></span></td>
                                </tr>
                                <tr>
                                    <td nowrap='nowrap' class="text-left">系统送：<span class="badge bg-aqua" id="td_plat2"></span></td>
                                    <td nowrap='nowrap' class="text-left">活动送：<span class="badge bg-aqua" id="td_active2"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="box box-primary box-solid" id="tb_list" style="display:none;">
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold"><span style="color:White;">详情列表</span><span class="badge bg-aqua" id="td_TotalAllSet" title="总数据=(游戏数据+对战抽水-注册送-活动送-系统送)"></span><span class="badge bg-aqua" id="td_totalAllRateWin" title="战成数据=(总数据 * 自己的占成)"></span><span class="badge bg-aqua" id="td_HeJiFengCheng" title="分成数据=(管理数据总和)"></span><span class="badge bg-aqua" id="td_shijiData" title="实际数据=(占成数据 - 分成数据)"></span></h3>
                        <div class="box-tools pull-right">
                            <button data-widget="collapse" class="btn btn-box-tool" type="button"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="display: block; padding:0px;">
                        <div class="table-responsive">

                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th nowrap='nowrap'>帐号</th>
                                    <th nowrap='nowrap' class="td_rate">占成比例</th>
                                    <?php if($isadmin){ ?>
                                    <th nowrap='nowrap' class="td_count"  title="总数据=(游戏数据+对战抽水-注册送-活动送-系统送)">总数据</th>
                                    <?php } ?>
                                    <th nowrap='nowrap' class="td_press">游戏压住</th>
                                    <th nowrap='nowrap' class="td_win">游戏数据</th>

                                    <th nowrap='nowrap' class="td_gameyield">游戏收易率</th>

                                    <th nowrap='nowrap' class="td_pk_press">对战压住</th>
                                    <th nowrap='nowrap' class="td_pk_win">对战数据</th>
                                    <th nowrap='nowrap' class="td_pk_pump">对战抽水</th>

                                    <th nowrap='nowrap' class="td_pk_yield">对战收易率</th>

                                    <th nowrap='nowrap' class="td_reg">注册送</th>
                                    <th nowrap='nowrap' class="td_apply">申请送</th>
                                    <th nowrap='nowrap' class="td_plat">系统送</th>
                                    <th nowrap='nowrap' class="td_active">活动送</th>
                                    <th nowrap='nowrap' class="td_agData" title="管理数据=(游戏数据+对战抽水-注册送-活动送-系统送) * 占成比例 - 申请送">管理数据</th>


                                </tr>
                                </thead>
                                <tbody id="tblData"></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </section>

            <script src="/res/js/WdatePicker.js" type="text/javascript"></script>

            <script type="text/javascript">
                var _actionType = "<?=$this->request->param('action','AgentTotalReport')?>",
                    _totalGameBet = 0,
                    _totalGameWin = 0,
                    _totalGameRateWin = 0,
                    _totalGameYield = 0,
                    _totalPokerGameBet = 0,
                    _totalPokerGameWin = 0,
                    _totalPokerGamePump = 0,
                    _totalPokerGameYield = 0,
                    _totalPokerRateWin = 0,
                    _totalAllWin = 0,
                    _totalAllRateWin = 0,
                    _rbl_value = 0,
                    _totalReg = 0,
                    _totalApply = 0,
                    _totalPlat = 0,
                    _totalActive = 0,
                    _totalAgData = 0,
                    _totalAllAgDate = 0,
                    _page_flag = "true",
                    _sidRate = "<?=$agent['share_rate']?>",
                    pagei;
                $(function() {
                    $("#txt_StartDateTime,#txt_EndDateTime").attr("value", getCurrDate());
                    if ("false" == _page_flag) {
                        $("#td_totalAllRateWin,#td_HeJiFengCheng,.td_GameRatewin,.td_pk_Ratewin,.td_TotalRateWin,.td_agData,#q1").hide()
                    }
                    $("#Button_OK").click(function() {
                        _totalGameBet = 0;
                        _totalGameWin = 0;
                        _totalGameRateWin = 0;
                        _totalGameYield = 0;
                        _totalPokerGameBet = 0;
                        _totalPokerGameWin = 0;
                        _totalPokerGamePump = 0;
                        _totalPokerGameYield = 0;
                        _totalPokerRateWin = 0;
                        _totalAllWin = 0;
                        _totalAllRateWin = 0;
                        _totalReg = 0;
                        _totalApply = 0;
                        _totalPlat = 0;
                        _totalActive = 0;
                        _totalAgData = 0;
                        _totalAllAgDate = 0;
                        _rbl_value = <?=$isadmin?>;$("input:radio[name=optionsRadios]:checked").val();
                        if ($.trim($("#txt_StartDateTime").val()).length <= 0 || $.trim($("#txt_EndDateTime").val()).length <= 0) {
                            web_tips("日期不能为空.");
                            return false
                        } else {
                            var t = $("#txt_StartDateTime").val();
                            var e = $("#txt_EndDateTime").val();
                            $.ajax({
                                url: "../ashx/report/report.ashx",
                                type: "post",
                                dataType: "json",
                                data: {
                                    action: "AccountReport_Total",
                                    sDate: t,
                                    eDate: e,
                                    Type: _actionType,
                                    user: "<?=$agent['username']?>",
                                    rbl: _rbl_value,
                                    CurDateTime: rand()
                                },
                                success: function(t) {
                                    if (t.success) {
                                        if (1 == t.ViewTYPE) {
                                            $("#tb_list").fadeOut("slow");
                                            $(".td_win").show();
                                            $(".td_press,.td_gameyield,.td_pk_press,.td_pk_yield").hide()
                                        } else {
                                            $("#tb_list").fadeOut("slow");
                                            $(".td_press,.td_win,.td_gameyield,.td_pk_press,.td_pk_yield").show()
                                        }
                                        if (t.results.length > 0) {
                                            $("#tb_list tr:gt(0)").remove();
                                            if ("AgentTotalReport" == _actionType) {
                                                $("#q1").fadeOut("slow");
                                                if (0 == t.ViewTYPE) {
                                                    $(".cal_1").show()
                                                } else {
                                                    $(".cal_1").hide()
                                                }
                                                var e = "";
                                                $.each(t.results,
                                                    function(a, l) {
                                                        _totalGameBet += Number(t.results[a].press);
                                                        _totalGameWin += Number(t.results[a].win);
                                                        _totalGameRateWin += Number(t.results[a].RateWin);
                                                        _totalPokerGameBet += Number(t.results[a].pk_press);
                                                        _totalPokerGameWin += Number(t.results[a].pk_win);
                                                        _totalPokerGamePump += Number(t.results[a].pk_pump);
                                                        var o = t.results[a].UserShareRate;
                                                        var r = t.results[a].pk_pump;
                                                        var i = r * o * .01;
                                                        _totalPokerRateWin += Number(i);
                                                        var s = t.results[a].Account;
                                                        var _ = parseFloat(t.results[a]["25"]).toFixed(2);
                                                        var d = parseFloat(t.results[a]["29"]).toFixed(2);
                                                        var p = parseFloat(t.results[a]["35"]).toFixed(2);
                                                        var m = parseFloat(t.results[a]["36"]).toFixed(2);
                                                        if (isNaN(_)) {
                                                            _ = 0
                                                        }
                                                        if (isNaN(d)) {
                                                            d = 0
                                                        }
                                                        if (isNaN(p)) {
                                                            p = 0
                                                        }
                                                        if (isNaN(m)) {
                                                            m = 0
                                                        }
                                                        _totalReg += Number(_);
                                                        _totalApply += Number(d);
                                                        _totalPlat += Number(p);
                                                        _totalActive += Number(m);
                                                        var u = parseFloat(Number(t.results[a].AccountTotalWin) - Number(_) - Number(d)).toFixed(2);
                                                        _totalAgData = (Number(t.results[a].win) + Number(t.results[a].pk_pump) - Number(_) - Number(m)- Number(p)) * o * .01 - d;
                                                        _totalAgData = parseFloat(_totalAgData).toFixed(2);
                                                        _totalAllAgDate += Number(_totalAgData);
                                                        tt=Number(t.results[a].win)+Number(t.results[a].pk_pump)-Number(t.results[a]["25"])-Number(t.results[a]["35"])-Number(t.results[a]["36"])
                                                        e += '<tr class="tr_h">';
                                                        e += '<td><a href="userList.aspx?sid=' + s + '" target="_self">';
                                                        e += s;
                                                        e += "</a></td>";
                                                        e += "<td nowrap='nowrap'><span class=\"badge bg-gray\">";
                                                        e += t.results[a].UserShareRate;
                                                        e += "%</span></td>";
                                                        if (0 == t.ViewTYPE) {
                                                            e += "<td>";
                                                            e += parseFloat(tt).toFixed(2);
                                                            e += "</td>"
                                                            e += "<td>";
                                                            e += parseFloat(t.results[a].press).toFixed(2);
                                                            e += "</td>"
                                                        }
                                                        e += "<td>";
                                                        e += parseFloat(t.results[a].win).toFixed(2);
                                                        e += "</td>";
                                                        if (0 == t.ViewTYPE) {
                                                            e += "<td>";
                                                            e += parseFloat(t.results[a].yield).toFixed(2);
                                                            e += "</td>"
                                                        }
                                                        if (0 == t.ViewTYPE) {
                                                            e += "<td>";
                                                            e += parseFloat(t.results[a].pk_press).toFixed(2);
                                                            e += "</td>"
                                                        }
                                                        e += "<td>";
                                                        e += parseFloat(t.results[a].pk_win).toFixed(2);
                                                        e += "</td>";
                                                        e += "<td>";
                                                        e += parseFloat(t.results[a].pk_pump).toFixed(2);
                                                        e += "</td>";
                                                        if (0 == t.ViewTYPE) {
                                                            e += "<td>";
                                                            e += parseFloat(t.results[a].pk_yield).toFixed(2);
                                                            e += "</td>"
                                                        }
                                                        e += "<td>";
                                                        e += parseFloat(_).toFixed(2);
                                                        e += "</td>";
                                                        e += "<td>";
                                                        e += parseFloat(d).toFixed(2);
                                                        e += "</td>";
                                                        e += "<td>";
                                                        e += parseFloat(p).toFixed(2);
                                                        e += "</td>";
                                                        e += "<td>";
                                                        e += parseFloat(m).toFixed(2);
                                                        e += "</td>";
                                                        e += "<td>";
                                                        e += _totalAgData;
                                                        e += "</td>";
                                                        e += "</tr>"
                                                    });
                                                $("#tblData").append(e);
                                                _totalAllWin = parseFloat(_totalGameWin + _totalPokerGamePump).toFixed(2);
                                                _totalAllRateWin = parseFloat(_totalGameRateWin + _totalPokerRateWin).toFixed(2);
                                                $("#td_reg").text(parseFloat(_totalReg).toFixed(2));
                                                $("#td_apply").text(parseFloat(_totalApply).toFixed(2));
                                                $("#td_plat").text(parseFloat(_totalPlat).toFixed(2));
                                                $("#td_active").text(parseFloat(_totalActive).toFixed(2));
                                                var a = Number(_totalAllWin - _totalReg - _totalActive - _totalPlat );
                                                $("#td_TotalAllSet").text("总数据：" + parseFloat(a).toFixed(2));
                                                $(".td_totalGameBet").text(parseFloat(_totalGameBet).toFixed(2));
                                                $(".td_totalGameWin").text(parseFloat(_totalGameWin).toFixed(2));
                                                $(".td_totalPokerGameBet").text(parseFloat(_totalPokerGameBet).toFixed(2));
                                                $(".td_totalPokerGameWin").text(parseFloat(_totalPokerGameWin).toFixed(2));
                                                $(".td_totalPokerGamePump").text(parseFloat(_totalPokerGamePump).toFixed(2));
                                                $(".td_totalAllWin").text(parseFloat(_totalAllWin).toFixed(2));
                                                var l = parseFloat(a * _sidRate * .01).toFixed(2);
                                                $("#td_totalAllRateWin").text("占成数据：" + l);
                                                var o = parseFloat(_totalAllAgDate).toFixed(2);
                                                $("#td_HeJiFengCheng").text("分成数据：" + o);
                                                var r = Number(l - o);
                                                $("#td_shijiData").text("实际数据：" + parseFloat(r).toFixed(2));
                                                if (Number(_totalGameWin) == 0 || Number(_totalGameBet) == 0) {
                                                    $(".td_totalGameYield").text("0.00")
                                                } else {
                                                    _totalGameYield = Number(_totalGameWin) / Number(_totalGameBet) * 100;
                                                    $(".td_totalGameYield").text(parseFloat(_totalGameYield).toFixed(2))
                                                }
                                                if (Number(_totalPokerGameWin) == 0 || Number(_totalPokerGameBet) == 0) {
                                                    $(".td_totalPokerGameYield").text("0.00")
                                                } else {
                                                    _totalPokerGameYield = Number(_totalPokerGamePump) / Number(_totalPokerGameBet) * 100;
                                                    $(".td_totalPokerGameYield").text(parseFloat(_totalPokerGameYield).toFixed(2))
                                                }
                                                $("#tb_list,#q1").fadeIn("slow");
                                                layer.close(pagei)
                                            }
                                            if ("ServerTotalReport" == _actionType) {
                                                $(".td_name,.td_tel,.td_memo,.td_rate,.td_TotalRateWin,.td_agData,.td_pk_Ratewin,#q1").hide();
                                                $("#q2").fadeOut("slow");
                                                if (0 == t.ViewTYPE) {
                                                    $(".cal_1").show()
                                                } else {
                                                    $(".cal_1").hide()
                                                }
                                                var e = "";
                                                $.each(t.results,
                                                    function(a, l) {
                                                        _totalGameBet += Number(t.results[a].press);
                                                        _totalGameWin += Number(t.results[a].win);
                                                        _totalPokerGameBet += Number(t.results[a].pk_press);
                                                        _totalPokerGameWin += Number(t.results[a].pk_win);
                                                        _totalPokerGamePump += Number(t.results[a].pk_pump);
                                                        var o = parseFloat(t.results[a]["25"]).toFixed(2);
                                                        var r = parseFloat(t.results[a]["29"]).toFixed(2);
                                                        var i = parseFloat(t.results[a]["35"]).toFixed(2);
                                                        var s = parseFloat(t.results[a]["36"]).toFixed(2);
                                                        if (isNaN(o)) {
                                                            o = 0
                                                        }
                                                        if (isNaN(r)) {
                                                            r = 0
                                                        }
                                                        if (isNaN(i)) {
                                                            i = 0
                                                        }
                                                        if (isNaN(s)) {
                                                            s = 0
                                                        }
                                                        _totalReg += Number(o);
                                                        _totalApply += Number(r);
                                                        _totalPlat += Number(i);
                                                        _totalActive += Number(s);
                                                        tt=Number(t.results[a].win)+Number(t.results[a].pk_pump)-Number(t.results[a]["25"])-Number(t.results[a]["29"])-Number(t.results[a]["35"])-Number(t.results[a]["36"])

                                                        e += '<tr class="tr_h">';
                                                        e += "<td>";
                                                        e += t.results[a].Account;
                                                        e += "</td>";
                                                        if (0 == t.ViewTYPE) {
                                                            e += "<td>";
                                                            e += parseFloat(tt).toFixed(2);
                                                            e += "</td>"
                                                            e += "<td>";
                                                            e += parseFloat(t.results[a].press).toFixed(2);
                                                            e += "</td>"
                                                        }
                                                        e += "<td>";
                                                        e += parseFloat(t.results[a].win).toFixed(2);
                                                        e += "</td>";
                                                        if (0 == t.ViewTYPE) {
                                                            e += "<td>";
                                                            e += parseFloat(t.results[a].yield).toFixed(2);
                                                            e += "</td>"
                                                        }
                                                        if (0 == t.ViewTYPE) {
                                                            e += "<td>";
                                                            e += parseFloat(t.results[a].pk_press).toFixed(2);
                                                            e += "</td>"
                                                        }
                                                        e += "<td>";
                                                        e += parseFloat(t.results[a].pk_win).toFixed(2);
                                                        e += "</td>";
                                                        e += "<td>";
                                                        e += parseFloat(t.results[a].pk_pump).toFixed(2);
                                                        e += "</td>";
                                                        if (0 == t.ViewTYPE) {
                                                            e += "<td>";
                                                            e += parseFloat(t.results[a].pk_yield).toFixed(2);
                                                            e += "</td>"
                                                        }
                                                        e += "<td>";
                                                        e += parseFloat(o).toFixed(2);
                                                        e += "</td>";
                                                        e += "<td>";
                                                        e += parseFloat(r).toFixed(2);
                                                        e += "</td>";
                                                        e += "<td>";
                                                        e += parseFloat(i).toFixed(2);
                                                        e += "</td>";
                                                        e += "<td>";
                                                        e += parseFloat(s).toFixed(2);
                                                        e += "</td>";
                                                        e += "</tr>"
                                                    });
                                                $("#tblData").append(e);
                                                _totalAllWin = parseFloat(_totalGameWin + _totalPokerGamePump).toFixed(2);
                                                $("#td_reg2").text(parseFloat(_totalReg).toFixed(2));
                                                $("#td_apply2").text(parseFloat(_totalApply).toFixed(2));
                                                $("#td_plat2").text(parseFloat(_totalPlat).toFixed(2));
                                                $("#td_active2").text(parseFloat(_totalActive).toFixed(2));
                                                $(".td_totalGameBet").text(parseFloat(_totalGameBet).toFixed(2));
                                                $(".td_totalGameWin").text(parseFloat(_totalGameWin).toFixed(2));
                                                $(".td_totalPokerGameBet").text(parseFloat(_totalPokerGameBet).toFixed(2));
                                                $(".td_totalPokerGamePump").text(parseFloat(_totalPokerGamePump).toFixed(2));
                                                var a = Number(_totalAllWin - _totalReg - _totalActive - _totalPlat);
                                                $("#td_TotalAllSet").text("总数据：" + parseFloat(a).toFixed(2));
                                                var r = Number(a * _sidRate * .01 - _totalApply);
                                                $("#td_shijiData").text("实际数据：" + parseFloat(r).toFixed(2));
                                                $("#td_shijiData").attr("title", "实际数据=(总数据 * 自己的比例 - 申请送)");
                                                if (Number(_totalGameWin) == 0) {
                                                    $(".td_totalGameYield").text("0.00")
                                                } else if (Number(_totalGameWin) != 0 && Number(_totalGameBet) == 0) {
                                                    $(".td_totalGameYield").text("0.00")
                                                } else {
                                                    _totalGameYield = Number(_totalGameWin) / Number(_totalGameBet) * 100;
                                                    $(".td_totalGameYield").text(parseFloat(_totalGameYield).toFixed(2))
                                                }
                                                if (Number(_totalPokerGamePump) == 0 || Number(_totalPokerGameBet) == 0) {
                                                    $(".td_totalPokerGameYield").text("0.00")
                                                } else {

                                                    _totalPokerGameYield = Number(_totalPokerGamePump) / Number(_totalPokerGameBet) * 100;
                                                    $(".td_totalPokerGameYield").text(parseFloat(_totalPokerGameYield).toFixed(2))
                                                }
                                                $("#tb_list,#q2").fadeIn("slow");
                                                layer.close(pagei)
                                            }
                                        } else {
                                            layer.close(pagei);
                                            $("#t_bet,#t_yield").hide();
                                            web_tips("暂无记录.")
                                        }
                                    } else {
                                        layer.close(pagei);
                                        if (global_Error500 == t.ERROR_TYPE) {
                                            parent.location.href = global_e_p_500
                                        }
                                        if (global_NoLicense != t.msg) {
                                            web_tips("暂无记录.");
                                            $("#t_bet,#t_yield,#tb_list").fadeOut(1e3)
                                        } else {
                                            parent.location.href = global_jump_login
                                        }
                                    }
                                },
                                beforeSend: function() {
                                    $("#Button_OK").attr("disabled", "disabled").text("正在查询");
                                    pagei = layer.msg('请稍候..', {icon: 16,shade: 0.01})
                                },
                                complete: function() {
                                    $("#Button_OK").removeAttr("disabled").text("确定")
                                }
                            })
                        }
                    })
                });

            </script>

        </div>
    </div>
</div>

<?php include _include(__APPDIR__.'Controller/Com/View/Public_footjs.html');?>