<?php include _include(__APPDIR__.'Controller/Com/View/Public_head.html');?>
<body>
<div class="templatemo-flex-row">
    <?php include _include(__APPDIR__.'Controller/Com/View/Public_nav.html');?>

    <div class="templatemo-content col-1 light-gray-bg">
        <?php include _include(__APPDIR__.'Controller/Com/View/Public_top.html');?>
        <div class="row content" style="padding:5px 0px 0px 0px;">
            <section class="content">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title text-muted"><span style=" color:White;">子帐号管理<small
                                        style="margin-left:8px; margin-right:8px;"><a
                                            href="javascript:window.history.back()" target="_self"
                                            onclick='javascript:window.history.back();'><i class="fa fa-arrow-left"></i> 返回</a></small></span>
                        </h3>
                    </div>

                    <div class="box-body">

                        <div class="form-group">
                            <label>帐号</label>
                            <input type="text" class="form-control" id="txt_UserName" maxlength="17">
                            <p id="p1"></p>
                        </div>

                        <div class="form-group">
                            <label>密码</label>
                            <input type="password" class="form-control" id="txt_Password" maxlength="15">
                            <p id="p2"></p>
                        </div>
                        <div class="form-group">
                            <label>权限组</label>
                            <select class="form-control" id="txt_role" maxlength="15">
                                <option>请选择权限组</option>
                                <?php foreach ($role as $k =>$v){
                                    if($v['isAdmin']!=2){
                                        continue;
                                    }
                                    ?>
                                    <option value="<?php echo  $v['RoleID']?>"><?php echo  $v['RoleName']?> - <?php echo  $v['RoleDesc']?></option>
                                <?php } ?>
                            </select>
                            <p id="p3"></p>
                        </div>

                        <div class="form-group">
                            <label>备注</label>
                            <textarea rows="2" class="form-control" id="txt_Memo"></textarea>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" id="Button_OK">确定</button>
                        <button type="button" class="btn btn-default" style=" margin-left:15px;" id="Button_Cancel">取消
                        </button>
                    </div>

                </div>
                <!--列表 开始-->
                <div class="box box-primary box-solid" id="tb_list">
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold"><span class="text-sm" style=" color:White;">子帐号列表</span></h3>
                    </div>
                    <div class="box-body" style="display: block; padding:0px;">
                        <div class="table-responsive">

                            <table class="table table-hover table-bordered" id="data_list">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>帐号</th>
                                    <th>权限组</th>
                                    <th>创建日期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="tblData"></tbody>
                            </table>

                        </div>
                    </div>
                    <div class="overlay" id="overlay_Log" style="display:none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!--列表 结束-->

            </section>

            <script type="text/javascript">
                function DefaultGet() {
                    $("#data_list tr:gt(0)").remove(), $.ajax({
                        url: "../ashx/getData/AccountList.ashx",
                        type: "post",
                        dataType: "json",
                        data: {action: "getSubAccountList", CurDateTime: rand()},
                        success: function (a) {
                            if (a.success) if (a.results.length > 0) {
                                var b = "";
                                $.each(a.results, function (c) {
                                    var e = a.results[c].UserName;
                                    b += "<tr>", b += "<td>", b += c + 1, b += "</td>", b += "<td>", b += e, b += "</td>", b += "<td>", b += a.results[c].RoleName, b += "</td>", b += "<td>", b += a.results[c].RegTime, b += "</td>", b += '<td class="text-left">', b += '<button type="button" class="btn btn-warning btn-xs" title="' + e + '" onfocus="this.blur();" onclick=\'onScoreLogForSub(this,"' + e + "\");'>查上下分账</button>", b += '<button type="button" class="btn btn-warning btn-xs" title="' + e + '" onfocus="this.blur();" onclick=\'onChangePwd(this,"' + e + "\");'>修改密码</button>", b += '<button type="button" class="btn btn-',b+=a.results[c].IsEnable==0?'danger':'warning',b+=' btn-xs" title="' + e + '" onfocus="this.blur();" onclick=\'onDeleteM(this,"' + e + '","'+(a.results[c].IsEnable==1?'禁用':'启用')+'",DefaultGet);\'>',b+=a.results[c].IsEnable==0?'禁用':'启用',b+="</button>", b += "</td>", b += "</tr>"
                                }), $("#tblData").append(b), $("#tb_list").show(), $("#overlay_Log").fadeOut(1000)
                            } else $("#tb_list").show(), $("#overlay_Log").fadeOut(1000), $("#tblData").append('<tr class="tr_h"><td>-</td><td>-</td><td>-</td><td>-</td><td>暂无数据</td></tr>'); else $("#tb_list,#overlay_Log").fadeOut(1000), a.ERROR_TYPE == global_Error500 && (parent.location.href = "../PageError/500.html"), global_NoLicense != a.msg ? web_tips(a.msg) : parent.location.href = "../Login.aspx"
                        },
                        beforeSend: function () {
                            $("#Button_OK").attr("disabled", "disabled").text("确定"), $("#overlay_Log").show()
                        },
                        complete: function () {
                            $("#Button_OK").removeAttr("disabled").text("确定")
                        }
                    })
                }

                var _user;
                $(function () {
                    DefaultGet(), $("#Button_OK").click(function () {
                        _user = $("#txt_UserName").val(), $("#txt_UserName,#txt_Password").trigger("blur");
                        var a = $(".has-warning").length;
                        return a ? !1 : ($.ajax({
                            url: "../ashx/account/account.ashx",
                            type: "post",
                            dataType: "json",
                            data: {
                                action: "addSubAccount",
                                userName: _user,
                                PassWd: $("#txt_Password").val(),
                                Memo: $("#txt_Memo").val(),
                                RoleID: $("#txt_role").val(),
                                CurDateTime: rand()
                            },
                            success: function (a) {
                                a.success ? (web_dialog(a.msg), $("#Button_Cancel").click(), DefaultGet()) : (a.ERROR_TYPE == global_Error500 && (parent.location.href = "../PageError/500.html"), global_NoLicense != a.msg ? web_dialog(a.msg) : parent.location.href = "../Login.aspx")
                            },
                            beforeSend: function () {
                                $("#Button_OK").attr("disabled", "disabled").text("正在提交")
                            },
                            complete: function () {
                                $("#Button_OK").removeAttr("disabled").text("确定")
                            }
                        }), void 0)
                    }), $("#txt_UserName").focus(function () {
                        $("#p1").removeClass().addClass("help-block").text("字母或数字,长度7-16位.")
                    }), $("#txt_UserName").blur(function () {
                        checkUserName($.trim($(this).val())) ? $(".box-body div:eq(0)").removeClass().addClass("form-group has-success") : ($(".box-body div:eq(0)").removeClass().addClass("form-group has-warning"), $("#p1").removeClass().addClass("help-block").text("字母或数字,长度7-16位."))
                    }), $("#txt_UserName").change(function () {
                        checkUserName($.trim($(this).val())) ? $.ajax({
                            url: "../ashx/account/account.ashx",
                            type: "post",
                            dataType: "json",
                            data: {action: "checkUser", userName: $("#txt_UserName").val()},
                            success: function (a) {
                                a.success ? $(".box-body div:eq(0)").removeClass().addClass("form-group has-success") : (a.ERROR_TYPE == global_Error500 && (parent.location.href = "../PageError/500.html"), global_NoLicense != a.msg ? ($(".box-body div:eq(0)").removeClass().addClass("form-group has-warning"), $("#p1").removeClass().addClass("help-block").text(a.msg)) : parent.location.href = "../Login.aspx")
                            }
                        }) : $(".box-body div:eq(0)").removeClass().addClass("form-group has-warning")
                    }), $("#txt_Password").focus(function () {
                        $("#p2").removeClass().addClass("help-block").text("密码最少设定6位,且必须是数字和字母组合.其中至少有一位字母大写和一位字母小写.")
                    }), $("#txt_Password").blur(function () {
                        checkPassWord($.trim($(this).val())) ? ($(".box-body div:eq(1)").removeClass().addClass("form-group has-success"), $("#p2").removeClass().text("")) : ($(".box-body div:eq(1)").removeClass().addClass("form-group has-warning"), $("#p2").removeClass().addClass("help-block").text("密码最少设定6位,且必须是数字和字母组合.其中至少有一位字母大写和一位字母小写."))
                    }), $("#Button_Cancel").click(function () {
                        $("#p1,#p2").removeClass().text(""), $("#txt_UserName,#txt_Password,#txt_Memo").val(""), $(".box-body div").removeClass().addClass("form-group")
                    })
                });
            </script>

        </div>
    </div>
</div>

<?php include _include(__APPDIR__.'Controller/Com/View/Public_footjs.html');?>