<?php include _include(__APPDIR__.'Controller/Com/View/Public_head.html');?>

<body>
<div class="templatemo-flex-row">
    <?php include _include(__APPDIR__.'Controller/Com/View/Public_nav.html');?>

    <div class="templatemo-content col-1 light-gray-bg">
        <?php include _include(__APPDIR__.'Controller/Com/View/Public_top.html');?>
        <div class="row content" style="padding:5px 0px 0px 0px;">

            <section class="content">
                <div class="box box-primary box-solid" id="tb_list_1" style="">
                    <div class="box-header with-border">
                        <h3 class="box-title text-muted"><span style=" color:White;">游客反馈</span><small><a href="javascript:window.history.back()" target="_self" style="margin-left:8px; margin-right:8px;" onclick="javascript:window.history.back();"><i class="fa fa-arrow-left"></i> 返回</a></small><small><a href="###" target="_self" onclick="javascript:reloadList();"><i class="fa fa-refresh"></i> 刷新</a></small></h3>
                    </div>
                    <div class="box-body" style="display: block; padding:0px;">
                        <div class="table-responsive">

                            <table class="table table-hover table-bordered" id="data_list">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>发布人</th>
                                    <th>内容</th>
                                    <th style="width:180px">日期时间</th>
                                </tr>
                                </thead>
                                <tbody id="tblData"></tbody>
                            </table>

                        </div>
                        <!--Pager-->
                        <div id="Pagination" class="pull-left"></div>
                    </div>
                </div>
            </section>
            <script src="/res/js/jquery.jeditable.mini.js" type="text/javascript"></script>
            <script src="/res/js/laypage.js" type="text/javascript"></script>
            <script type="text/javascript">
                function reloadList() {
                    $("#Pagination").html(""),
                        getDataList(0)
                }
                function JsonSort(json,key){
                    for(var j=1,jl=json.length;j < jl;j++){
                        var temp = json[j],
                            val  = temp[key],
                            i  = j-1;
                        while(i >=0 && json[i][key] > val){
                            json[i+1] = json[i];
                            i = i-1;
                        }
                        json[i+1] = temp;
                    }
                    return json;
                }
                function getDataList(a) {
                    $("#tb_list_1").hide();
                    var b = a;
                    $.ajax({
                        url: "../ashx/log/log.ashx",
                        type: "post",
                        dataType: "json",
                        data: {
                            action: "SysFeedback",
                            pageIndex: b + 1,
                            pageSize: pageSize,
                            CurDateTime: rand()
                        },
                        success: function(a) {
                            if (a.success) {
                                var c = a.total;
                                if (a.total > 0) {
                                    $("#data_list tr:gt(0)").remove();
                                    var d = "";
                                    JsonSort(a.results,"Rownum");
                                    $.each(a.results,
                                        function(b, c) {
                                            var e = a.results[b].Rownum;
                                            d += '<tr class="tr_h">',
                                                d += "<td>",
                                                d += e,
                                                d += "</td>",
                                                d += "<td>",
                                                d += a.results[b].usrid,
                                                d += "</td>",
                                                d += "<td>",
                                                d += a.results[b].content,
                                                d += "</td>",
                                                d += "<td style=\"width:180px\">",
                                                d += a.results[b].add_time,
                                                d += "</td>",
                                                d += "</tr>"
                                        }),
                                        $("#tblData").append(d),
                                        bindEdit(),
                                    $("#tb_list_1").show().trigger("update"),
                                        layer.close(pagei),
                                        laypage({
                                            cont: "Pagination",
                                            pages: numPages(c, pageSize),
                                            skip: !0,
                                            skin: "molv",
                                            first: 1,
                                            last: numPages(c, pageSize),
                                            prev: "<",
                                            next: ">",
                                            curr: b + 1,
                                            groups: 5,
                                            jump: function(a, b) {
                                                b || pageselectCallback(a.curr - 1)
                                            }
                                        })
                                } else layer.close(pagei),
                                    $("#tb_list_1").fadeOut(1000),
                                    web_tips("\u6682\u65e0\u6570\u636e.")
                            } else layer.close(pagei),
                            global_Error500 == a.ERROR_TYPE && (parent.location.href = global_e_p_500),
                                global_NoLicense != a.msg ? ($("#tb_list_1").fadeOut(1000), web_tips("\u6682\u65e0\u8bb0\u5f55.")) : parent.location.href = global_jump_login
                        },
                        beforeSend: function() {
                            pagei = layer.msg('请稍候..', {icon: 16,shade: 0.01})
                        }
                    })
                }
                function pageselectCallback(a) {
                    getDataList(a)
                }
                var pagei, pageIndex = 0,
                    pageSize = 20;
                $(function() {
                    $("#Pagination").html(""),
                        getDataList(0)
                });



                function bindEdit() {
                    whenMouseOver(".editInfo", "双击可编辑");
                    var a;
                    $(".editInfo").editable("../ashx/editField/editField.ashx", {
                        indicator: "<img src='../res/js/plug/jeditable/img/indicator.gif'>",
                        event: "dblclick",
                        style: "inherit",
                        type: "text",
                        submit: "保存",
                        width: 120,
                        cancel: "取消",
                        cssclass: "setInput",
                        onsubmit: function (a, b) {
                            var c = $(b).find("input").val();
                            return c = $.trim(c),
                                c.length <= 0 ? (swal("输入不能为空.", "", "info"), !1) : void 0
                        },
                        submitdata: function (b) {
                            return a = b,
                                {
                                    action: "edit_feedback",
                                    BeforeValue: a,
                                    id: $(this).parent().attr("id"),
                                    field: 'reply'
                                }
                        },
                        callback: function (b) {
                            var d = jQuery.parseJSON(b);
                            d.success ? ($(this).text(d.NewValue), swal(d.msg, "", "success")) : ($(this).text(a), swal(d.msg, "", "info"))
                        }
                    });




                }
            </script>

        </div>
    </div>
</div>



<?php include _include(__APPDIR__.'Controller/Com/View/Public_footjs.html');?>