.bng-bg a {
	flex: 1;
}

.bng-bg a img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	animation: myfirst 1s infinite;
	-moz-animation: myfirst 1s infinite;
	/* Firefox */
	-webkit-animation: myfirst 1s infinite;
	/* Safari and Chrome */
	-o-animation: myfirst 1s infinite;
	/* Opera */
}
.top{
	background: url(../img/top.png) no-repeat center top;
	background-size: 100% 100%;
}
.swiper-slide>img{
	padding-top: 15%;
}

.banbg{
	position: absolute;
	top: 33%;
	z-index: 999;
}

.bng-bg {
	display: flex;
    position: absolute;
    top: 32%;
    width: 90%;
    left: 5%;
	z-index: 888;
	
}
.logo{
	position: absolute;
	top: 37%;
}
.bottom{
	position: absolute;
	bottom: 10%;
    width: 90%;
    left: 5%;	
}
.jc{
	position: absolute;
	top: 34%;
    width: 90%;
    left: 10%;

}
.text{
	color: #ffe6ae;
    position: absolute;
	bottom: 5%;
}
.botdown{
	position: fixed;
	bottom: -1%;
}
.down{
    position: absolute;
    bottom: 30%;
    right: 0%;
    width: 26%;
}
@keyframes myfirst {
	   0%{
                transform: scale(1);  /*开始为原始大小*/
            }
            25%{
                transform: scale(1.05); /*放大1.1倍*/
            }
            50%{
                transform: scale(1);
            }
            75%{
                transform: scale(1.05);
            }
}

@-moz-keyframes myfirst{

/* Firefox */
	0%{
	         transform: scale(1);  /*开始为原始大小*/
	     }
	     25%{
	         transform: scale(1.05); /*放大1.1倍*/
	     }
	     50%{
	         transform: scale(1);
	     }
	    75%{
	        transform: scale(1.05);
	    }
	      
}

@-webkit-keyframes myfirst{

/* Safari and Chrome */
	0%{
	         transform: scale(1);  /*开始为原始大小*/
	     }
	     25%{
	         transform: scale(1.05); /*放大1.1倍*/
	     }
	     50%{
	         transform: scale(1);
	     }
	    75%{
	        transform: scale(1.05);
	    }
}

@-o-keyframes myfirst{

/* Opera */
	0%{
	         transform: scale(1);  /*开始为原始大小*/
	     }
	     25%{
	         transform: scale(1.05); /*放大1.1倍*/
	     }
	     50%{
	         transform: scale(1);
	     }
	     75%{
	         transform: scale(1.05);
	     }
	      
}




#xrBox {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	z-index: 99999;
	transition: none;
	touch-action: pan-y;
}

#xrBox.show {
	z-index: 9999999;
	visibility: visible;
	opacity: 1;
	transition: all 1.3s;
}

#xrBox .close {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	cursor: pointer;
	position: absolute
}

#xrBox .install {
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	cursor: pointer;
	position: fixed
}
